body{
    background-color: rgb(17, 24, 39); 
}
.heading{
    font-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    background-color: rgb(17, 24, 39);
    color: white;
    min-height: 85vh;
    /* width: 100px; */
}
.child{
    margin:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(31, 41, 55);
    width: 500px;
}
.add-button{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(59 130 246);
    padding: 12px;
    height: 60px;
    border-radius: 8px;
    margin-top: 15px;
    font-size:x-large;
    font-weight: bolder;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: rgb(6, 92, 231);
    }
}
.input-box{
    padding: 12px;
    background-color: rgb(55, 66, 81);
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: large;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.child h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.store{
    padding-top: 30px;
    min-height: 20px;
}
.store div{
    display: flex;
    padding: 12px;
    padding-bottom: 4px;
    background-color: rgb(55, 66, 81);
    width: 100%;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom:15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    cursor: grab;
}
.store div h1{
    margin-top:5px;
    width: 100%;
    font-size: 25px;
    color: white;
}
/* .store div button{
    box-sizing: border-box;
    background-color: rgb(238, 80, 80);
    padding: 8px;
    border-radius: 8px;
    font-size:medium;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
}
.store div button:hover {
    background-color: #c32424;
} */
.store.drag-over {
    border-color: rgba(255, 255, 255, 0.8);  /* Highlight when dragging over */
}
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: white;
}

.delete-btn i {
    font-size: 1.5rem; 
    color: #f87171;  
}

.delete-btn:hover i {
    color: #ef4444;     /* Darker red on hover */
}
